include README
include Changelog
recursive-include cms_pictures_slider/templates *
recursive-include cms_pictures_polaroid/templates *
recursive-include cms_pictures_slider/static *
recursive-include cms_pictures_polaroid/static *
